.navbar {
    background-color: white !important;
    padding: 0;
    box-shadow: 0px 0px 8px -3px black;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.navbar-brand {
    color: black !important;
    font-family: 'Yellowtail', cursive;
    padding: 10px 10px;
    font-size: 34px;
    margin-left: 5px;
}

#navbar-toggler {
    color: black;
}

.nav-link.active {
    color: black !important;
}

.nav-link {
    color: #444 !important;
}

.navbar-nav, .nav-link {
    margin: 0 5px 0 auto;
    text-align: right;
}

.nav-link {
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
}

#navbarBtn {
    margin-right: 5px;
}

.navbar-nav {
    margin-right: 25px;
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

button:focus {
    outline: #444 3px auto;
}

.nav-link {
    transition: ease-out 0.3s;
}

.nav-link.active:hover {
    color: black !important;
}

.nav-link:hover {
    color: rgba(68, 68, 68, 0.767) !important;
    transition: ease-in 0.3s;
}

.fa-lg {
    font-size: 1.5em;
    line-height: 1em;
}

/* Tablets */
@media(max-width: 991px) {
    button {
        padding-left: 5%;
        font-size: 20px;
    }
}

/* Modile */
@media(max-width: 640px) {
    .nav-link{
        margin: 5px 17px;
    }
}

/* iPhone 5/SE */
@media (max-width: 375px) {
    button {
        margin-right: 20px;
    }

    .nav-link {
        margin: 5px 10px;
        font-size: 18px;
    }
}

/* Galaxy Fold */
@media (max-width: 280px) {
    .navbar-brand {
        font-size: 26px;
    }

    .nav-link {
        font-size: 16px;
    }
}