html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: rgb(240, 240, 240);
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a:hover {
    text-decoration: none;
}

.line {
    background-color: black;
    border: none;
    height: 1px;
    margin-bottom: 1rem;
}
