.project img {
    background-color: #444;
    border-top: 3px solid #444;
    border-left: 3px solid #444;
    border-right: 3px solid #444;
    border-radius: 10px 10px 0px 0;
    height: 86%;
    width: 100%;
}

.project p {
    background-color: #444;
    color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.project button {
    border: none;
    background-color: transparent;
    padding: 0;
}

.project button:focus {
    outline: none;
}

.project {
    transition: ease-out 0.1s;
}

.project:hover {
    transform: scale(1.03);
}
