.project img {
    background-color: #444;
    border-top: 3px solid #444;
    border-left: 3px solid #444;
    border-right: 3px solid #444;
    border-radius: 10px 10px 0px 0;
    height: 86%;
    width: 100%;
}

.project p {
    background-color: #444;
    color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.project button {
    border: none;
    background-color: transparent;
    padding: 0;
}

.project button:focus {
    outline: none;
}

.project {
    transition: ease-out 0.1s;
}

.project:hover {
    transform: scale(1.01);
}

/* Big View Styling */


.backBtn {
    color: #444;
    float: left;
    font-size: 35px;
    margin-top: 5px;
}

.backBtn:hover {
    color: rgb(95, 95, 95);
}

.portfolioBigImg {
    float: left;
    width: 115%;
    border: 3px solid;
    border-radius: 1rem;
    box-shadow: 1px 3px 3px 0px #444;
    margin: 25px 20px 10px 0px;
}

.linksTitle, .descriptionTitle {
    font-family: 'Yellowtail', cursive;
    font-size: 35px;
    text-align: center;
    border-bottom: 2px solid;
    padding-bottom: 15px;
}

.liveLinkDiv, .repoLinkDiv {
    display: inline;
    margin: 0 15px;
    font-size: 18px;
}

.liveLink, .repoLink {
    color: #444;
}

.liveLink:hover, .repoLink:hover {
    color: rgb(95, 95, 95);
    text-decoration: none;
}

.description {
    margin: 7px 0px 0px 60px;
}

.descriptionText {
    font-size: 18px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.links {
    text-align: center;
    margin: 15px 50px;
}
