.item {
    float: left;
    width: 30%;
    margin-right: 2%;
}

.item p {
    text-align: center;
}

.item2 {
    float: right;
}

#profilePic {
    border-radius: 0.5rem;
    box-shadow: 7px 9px 0px -3px black;
    width: 100%;
}

#codeThinking {
    float: right;
    width: 150px;
}

.illustrations {
    float: none;
    width: 50px;
}

.text {
    color: black;
    font-size: 16px;
    line-height: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
}

.caption {
    margin: 15px 0 0 0;
    font-size: 10px;
    font-weight: bold;
}

#helloThereBtn:hover {
    cursor: pointer;
}

a {
    color: #444;
    transition: ease-out 0.2s;
}

a:hover {
    color: rgb(126, 126, 126);
    transition: ease-in 0.2s;
}

.homepageLinks {
    color: dodgerblue;
}

.homepageLinks:hover {
    color: rgb(9, 87, 165);
}

.socialText {
    visibility: hidden;
}

.homepageSocial {
    display: none;
    flex-direction: row;
    font-size: 55px;
    justify-content: space-evenly;
}

#twitter2 {
    color: #1DA1F2;
}

#github2 {
    color: black;
}

#linkedin2 {
    color: #0077B5;
}

#githubLink {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

#homepageReactLink {
    margin-top: 5px;
    margin-bottom: 5px;
}

#reactLink {
    color: #61DBFB;
    font-family: 'Yellowtail', cursive;
    text-shadow: 1px 1px 0px #444, 1px 1px 3px #444;
}

#reactLinkLogo {
    margin-left: 5px;
}

#unDraw {
    color: #6C63FF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#unDraw:hover {
    color:  #8e5af0;
    transition: ease-in 0.5s;
}

#helloThereDiv {
    display: flex;
    justify-content: center;
}

#helloThereGif {
    background-color: black;
    border: 2px solid black;
    border-radius: 0.5rem;
    box-shadow: 2px 6px 15px -3px #444;
    width: 90%;
}


/* Mobile */
@media (max-width: 640px) {
    h2 {
        font-size: 38px;
        text-align: center;
    }

    .item {
        float: none;
        width: 95%;
    }

    #profilePic {
        margin: 5px 0px 5px 5px;
    }

    .text {
        font-size: 16px;
    }

    .caption {
        font-size: 12px;
        margin: 15px 0;
    }

    #helloThereGif {
        width: 100%;
    }

    .socialText {
        visibility: visible;
        margin-bottom: 0;
    }

    .homepageSocial {
        display: flex;
    }

    #reactLinkLogo {
        font-size: 19px;
    }
}

@media (max-width: 320px) {
    h2 {
        font-size: 31px;
    }

    #reactLinkLogo {
        font-size: 16px;
    }
}
