#profilePic {
    border-radius: 0.5rem;
    box-shadow: 7px 9px 0px -3px black;
    float: left;
    margin-right: 2%;
    width: 25%;
}

.text, #btn1 {
    color: black;
    font-size: 16px;
    line-height: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

#btn1 {
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: 0;
    transition: ease-out 0.6s;
}

#btn1:focus {
    outline: none;
}

#btn1:hover {
    text-decoration: none;
    color: rgb(23, 136, 235);
    transition: ease-in 0.3s;
}

a {
    color: #444;
    transition: ease-out 0.2s;
}

a:hover {
    color: rgb(126, 126, 126);
    transition: ease-in 0.2s;
}

.homepageLinks {
    color: dodgerblue;
}

.homepageLinks:hover {
    color: rgb(9, 87, 165);
}

.socialText {
    visibility: hidden;
}

.homepageSocial {
    display: none;
    flex-direction: row;
    font-size: 50px;
    justify-content: space-evenly;
}

#twitter2 {
    color: #1DA1F2;
}

#github2 {
    color: black;
}

#linkedin2 {
    color: #0077B5;
}

#githubLink {
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
}

#homepageReactLink {
    margin-top: 5px;
}

#reactLink {
    color: #61DBFB;
    font-family: 'Yellowtail', cursive;
    text-shadow: 1px 1px 0px #444, 1px 1px 3px #444;
}

#reactLinkLogo {
    margin-left: 5px;
}

#helloThereDiv {
    display: flex;
    justify-content: center;
}

#helloThereGif {
    background-color: black;
    border: 2px solid black;
    border-radius: 0.5rem;
    box-shadow: 2px 6px 15px -3px #444;
    margin-bottom: 10px;
    width: 90%;
}


/* Mobile */
@media (max-width: 640px) {
    h2 {
        font-size: 45px;
        text-align: center;
    }

    #profilePic {
        float: none;
        margin: 5px 0px 25px 5px;
        width: 95%;
    }

    .text, #btn1 {
        font-size: 17px;
    }

    #helloThereGif {
        width: 100%;
    }

    .socialText {
        visibility: visible;
    }

    .homepageSocial {
        display: flex;
    }

    #reactLinkLogo {
        font-size: 19px;
    }
}

@media (max-width: 320px) {
    #reactLinkLogo {
        font-size: 16px;
    }
}
