.card {
    border: none;
    margin: 20px 2% 45px 2%;
}

.card-body {
    padding: 1.04rem;
}

.cardHeader {
    text-align: center;
}

h2 {
    font-size: 55px;
    font-family: 'Yellowtail', cursive;
}

hr {
    border: none;
    height: 3px;
}
