.card {
    border: none;
    border-radius: 1.8rem;
    margin: 20px 2% 45px 2%;
    box-shadow: 0px 2px 18px -8px #444;
}

.card-body {
    padding: 1.04rem;
}

.cardHeader {
    text-align: center;
}

h2 {
    font-size: 55px;
    font-family: 'Yellowtail', cursive;
    text-align: center;
}

hr {
    border: none;
    height: 3px;
}
