label {
    font-size: 20px;
    margin-bottom: 10px;
}

label, .btn {
    font-family: 'Kaushan Script', cursive;
}

.btn {
    background-color: #444;
    border-color: #444;
    margin-top: 10px;
    margin-right: 0;
}

#nameError, #emailError, #messageError {
    color: red;
    font-size: 16px;
}

.btn:hover {
    background-color: rgb(104, 104, 104);
    border-color: rgb(104, 104, 104);
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: rgb(134, 134, 134);
    border-color: rgb(134, 134, 134);
}

.btn-primary:focus, .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(46, 46, 46, 0.25);
}

.form-control:focus {
    border-color: black;
}

.hide {
    display: none;
}

@media (max-width: 640px) {
    #nameError, #emailError, #messageError {
        font-size: 12px;
    }
}