#utah, #beau {
    display: flex;
    flex-direction: row;
}

#utahImg, #beauImg {
    margin: 30px 0;
    width: 25%;
}

#beauImg {
    width: 30%;
}

.utahPara, .beauPara {
    font-size: 20px;
    margin: 30px 25px;
}

#utahTitle {
    border-bottom: 1px dotted black;
    display: flex;
    flex-direction: row;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bold;
    justify-content: space-between;
    margin-bottom: 5%;
    padding-bottom: 1%;
}

.utahPara {
    border-left: 2px dotted black;
    padding-left: 25px;
    font-size: 25px;
}

.beauPara {
    border-right: 2px dotted black;
    padding-right: 25px;
}

@media (max-width: 640px) {
    #utah, #utahTitle {
        flex-direction: column;
    }

    #beau {
        flex-direction: column-reverse;
    }

    #utahImg, #beauImg {
        margin: 0;
        width: 100%;
    }

    .utahPara, .beauPara {
        border: none;
        margin: 30px 0 20px 0;
        padding: 0;
    }
}
