footer {
    background-color: #444;
    border-top: 2px solid black;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    height: 3rem;
    justify-content: center;
    margin-top: auto;
    text-align: center;
    width: 100%;
}

footer p{
    font-family: 'Kaushan Script', cursive;
    margin: 1px 0;
    padding: 5px 0;
}

#madeWith {
    margin: 0 auto; 
}

#copy {
    float: left;
    margin-left: 15px;
}

.fab {
    float: right;
    font-size: 25px;
    margin: 10px 10px;
    transition: ease-out 0.1s;
}

#twitter, #github, #linkedin {
    color: white;
}

#twitter {
    margin-left: 60px;
}

#twitter:hover {
    color: #1DA1F2;
    transition: ease-in 0.1s;
}

#github:hover {
    color: rgb(48, 48, 48);
}

#linkedin:hover {
    color: #0077B5;
}

@media (max-width: 640px) {
    footer {
        height: 5rem;
        font-size: 16px;
        flex-direction: column;
    }

    .footerSocial {
        display: none;
    }
    
    #madeWith, #copy {
        margin: 0; 
    }
    
    #copy {
        float:  none;
    }
}